
//Colors
$bc:black;

//Header
$header-height: 70px;
$header-width:100%;
$header-background-color: black;
$gap:20px;


//Glass Effect Variables
$glass-min-height:750px;
$glass-width: 1400px;
$glass-border-radius:12px;

//Buttons
$button-width: 100px;
$button-height: 25px;
$button-background-color:wheat;

//Images
$img-height: 100px;
$img-width: 100px;


//Cards
$card-height: 150px;
$card-width: 300px;
$card-border-radius: 9px;
$card-background-color: whitesmoke;
$card-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

//Footer
$footer-height: 200px;
$footer-width: 100%;
$footer-background-color: black;
$a-color: white;

